.container {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--inner-text-spacing) 0 var(--inner-text-spacing);
  font-size: var(--font-size-subtitle);
  align-items: center;
  min-height: var(--block-height-md);
}

.header {
  display: flex;
  font-weight: var(--font-black);
  gap: var(--inner-text-spacing);
}

.heading {
  font-weight: var(--font-semiblack);
  justify-self: center;
}

.btns {
  display: flex;
  gap: var(--inner-text-spacing);
  align-items: center;
}
