.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: var(--inner-text-spacing);
  border-radius: var(--block-border-radius-md) var(--block-border-radius-md) 0
    var(--block-border-radius-md);
  align-self: end;
  background-color: var(--primary-color);
  padding: var(--inner-text-spacing);
}

.header {
  display: flex;
  justify-content: space-between;
  animation: shine-lines 1.6s infinite linear;
  margin-bottom: var(--inner-text-spacing);
}

.header_author {
  width: 20rem;
}

.header_time {
  width: 8rem;
}

.body {
  margin-top: var(--inner-text-spacing);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.line {
  animation: shine-lines 1.6s infinite linear;
}

.divider {
  width: 100%;
  height: 1px;
}

.skelet {
  border-radius: var(--block-border-radius-md);
  height: 2rem;
  animation: shine-lines 1.6s infinite linear;
}

.pulse {
  background-image: linear-gradient(90deg, #eeeeeecc 0px, #f7f2f2d0 40px, #eeeeeecc 80px);
  background-size: 60rem;
  /* backdrop-filter: blur(10px); */
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 440px;
  }
}
